html {
	background-color: #FFFFFF;
}

h1 {
	margin: 0px;
	text-align: center;
	border-left: 4px solid #1A1A59;
	border-right: 4px solid #1A1A59;
}

header {
	/* Page 1 1. Logo */
	background-image: url(Images/Logo.png);
	background-size: 80px 80px;
	background-position: left;
	background-repeat: no-repeat;
	background-color: #8080B3;
	line-height: 80px;
	margin: 0 90px 0 90px;
	border: 4px solid #1A1A59;
}

nav {
	margin: 0 90px 0 90px;
	border-left: 4px solid #1A1A59;
	border-right: 4px solid #1A1A59;
	background-color: #FFFFFF;
	text-align: center;
}

nav a {
	color: #000000;
	font-weight: bold;
	padding: 7px 15px 7px 15px;
	line-height: 40px;
	text-decoration: none;
	font-size: 1.5em;
}

nav a:hover {
	background-color: #EEEEEE;
}

footer {
	margin: 0 90px 0 90px;
	font-style: italic;
	font-size: small;
	text-align: center;
	border-left: 4px solid #1A1A59;
	border-bottom: 4px solid #1A1A59;
	border-right: 4px solid #1A1A59;
	background-color: #D3D3D3;
}


/* IDs */

#homeCat {
	float: left;
	border-radius: 50px;
	border: 4px solid #1A1A59;
	margin: 3em 1em 3em 0;
}

#aboutImg {
	float: right;
	border-radius: 50px;
	border: 4px solid #1A1A59;
	margin: 1em 0.5em 1em 1em;
}

#successGraph {
	float: left;
	text-align: center;
	border: thin silver solid;
	padding: 1em 1em 1em 1em;
	margin: 5em 1em 5em 0.25em;
}


/* Classes */

.oHeader {
	opacity: 0.7;
}

.clearFloat {
	clear: left;
}

.right {
	float: right;
}


/* Page 3 2b.Border around content */

.pBorder {
	border: 4px solid #1A1A59;
	margin-right: 17em;
}

.mDivL {
	float: left;
	width: 35%;
}

.mDivC {
	float: left;
	width: 35%;
}

.mDivR {
	float: left;
	width: 30%;
}

@media only screen and (max-width: 768px) {
	nav a {
		display: block;
		padding: 0.2em;
		font-size: 1.3em;
		border-bottom: 1px solid #000000;
	}
	nav li {
		display: block;
	}
	nav ul {
		text-align: left;
	}
}
