html {
	background-color: #FFFFFF;
}

body {
	/* TO-DO: Background gradient */
	background-color: #FFFFFF;
}

h1 {
	margin: 0px;
	text-align: center;
	border-left: 4px solid #1A1A59;
	border-right: 4px solid #1A1A59;
}

header {
	/* 1. Logo */
	background-image: url(Images/Logo.png);
	background-size: 80px 80px;
	background-position: left;
	background-repeat: no-repeat;
	background-color: #8080B3;
	line-height: 80px;
	margin: 0 90px 0 90px;
	border: 4px solid #1A1A59;
}

nav {
	margin: 0 90px 0 90px;
	border-left: 4px solid #1A1A59;
	border-right: 4px solid #1A1A59;
	background-color: #FFFFFF;
	text-align: center;
}

nav a {
	color: #000000;
	font-weight: bold;
	padding: 7px 15px 7px 15px;
	line-height: 40px;
	text-decoration: none;
	font-size: 1.5em;
}

nav a:hover {
	background-color: #EEEEEE;
}

footer {
	margin: 0 90px 0 90px;
	font-style: italic;
	font-size: small;
	text-align: center;
	border-left: 4px solid #1A1A59;
	border-bottom: 4px solid #1A1A59;
	border-right: 4px solid #1A1A59;
	background-color: #D3D3D3;
}


/* IDs */

#homeCat {
	float: left;
	border-radius: 50px;
	border: 4px solid #1A1A59;
	margin: 3em 1em 3em 0;
}


/* Classes */

.oHeader {
	opacity: 0.7;
}

.clearFloat {
	clear: left;
}

.right {
	float: right;
}