body {  
	/* TO-DO: Background gradient */
	background-color:#FFFFFF;
        margin-left: auto;
        margin-right: auto;
        width: 80%; }

header {	border-bottom: 4px solid #0334BB;
		/* Logo */
            	background-image: url(Images/Logo.png); 
	    	background-size: 80px 80px;
		background-position: left;
		background-repeat: no-repeat;
		line-height: 80px; }

footer {	font-style: italic; 
		font-size: small; 
		text-align: center; }
/* id */
#catImg {	float: left;
		border-radius: 25px; }
/* class */
.clearFloat {	clear: left; }