body		{	background-color: #6699FF;
				color: #D5E3FF;	
				font-family: Arial, Helvetica, sans-serif;  
}

header		{	background-color:#6699FF;
				color: #003366;
}

h1			{	text-align: center;
}

nav			{	font-weight: bold;
				text-align: center;
}

.category	{	font-weight: bold;
				background-color: #6699FF;
				color: #003366;
				font-size: 1.1em;
				text-shadow: 1px 1px 1px #667;
}

footer		{	font-size: 0.70em;
				font-style: italic;
}

#wrapper	{	min-width: 700px;
			max-width: 1024px;
			margin-right: auto;
			margin-left: auto;
			width: 80%;
}

img 		{	border-style: none;
}

footer nav 	{	text-align: left;
}
